[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
numpy = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"

[scripts]
conv = "python src/conventional_method.py"
merge = "python src/merge_method.py"
cross = "python src/cross_method.py"
test = "python src/modules/test.py"
cluster = "python dataset_creation/clustering.py"
dataset = "python dataset_creation/create_dataset.py"
white = "python dataset/white_list.py"