[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "==1.3.2"
numpy = "*"
matplotlib = "*"
japanize-matplotlib = "*"
pyarrow = "*"

[dev-packages]
pytest = "*"
ruff = "*"
black = "*"

[requires]
python_version = "3.10"

[scripts]
conv = "python src/conventional_method.py"
merge = "python src/merge_method.py"
cross = "python src/cross_method.py"
sample = "python src/sample_method.py"
test = "python src/modules/test.py"
cluster = "python dataset_creation/clustering.py"
dataset = "python dataset_creation/create_dataset.py"
white = "python dataset/white_list.py"
graph = "python dataset/make_graph.py"
analysis = "python src/results_analysis.py"
json = "python src/analysis/create_json.py"
fixrate = "python src/analysis/fix_rate_json.py"
sim = "python src/analysis/coss_sim.py"
imp = "python src/analysis/show_importance.py"
cs = "python src/analysis/calc_similarity.py"
